# OS
.DS_Store

# Node
node_modules/
npm-debug.log*

.env
.env.local
*.local

venv/
.venv/
__pycache__/
*.pyc
pyvenv.cfg

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log

# Build output
dist/
build/